
@media (min-width: 680px) {
    #logo {
        width: 30px;
    }
    #logoDiv{
        margin-top: 20px;
    }
    #companyTitle div:nth-child(1) {
        font-size: 30px;
    }

    #advantage {
        height: 60px;
        text-align: left;

    }

    #service {
        margin-top: 350px;
    }

    #companyTitle div:nth-child(2) {
        font-size: 20px;
    }

    #advantage img {
        width: 80px;
        padding: 12px;
    }

    #service *:not(#myservice) {
        font-size: 12px;
        font-family: "黑体";
        color: #969696;
    }

    #myservice {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
        font-family: "黑体";
        color: #000000;
    }

    #buzhou img {
        height: 60px;
    }
}
